// "out": "../css/style.css", "compress": true
@import "flex-grid.less";
@font-face {
  font-family: "Avenir Light";
  src: url("../font/avenir-font/AvenirLTStd-Light.otf") format("OpenType");
}
@font-face {
  font-family: "Avenir Medium";
  src: url("../font/avenir-font/AvenirLTStd-Medium.otf") format("OpenType");
}
@font-face {
  font-family: "Avenir Roman";
  src: url("../font/avenir-font/AvenirLTStd-Roman.otf") format("OpenType");
}
@font-face {
  font-family: "Avenir Book";
  src: url("../font/avenir-font/AvenirLTStd-Book.otf") format("OpenType");
}
@color_pink: #F063B8;
@color_purple: #9C69E2;
@color_mint: #68C9BA;
@color_dark_blue: #212353;
@color_dark_gray: #4B5D68;

body {
  font-family: "Avenir Medium";
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  font-family: Helvetica, sans-serif;
  color: @color_dark_blue;
}

.h1,
h1 {
  font-weight: bold;
  font-size: 80px;
  line-height: 88px;
}

.h2,
h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

.h3,
h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
}

.p,
p {
  color: @color_dark_gray;
}

.color-purple {
  color: @color_purple;
}

.color-pink() {
  color: @color_pink;
}

.logo {
  min-width: 51px;

  &__link {
    display: inline-block;
  }
  // &__link:hover {
  //   animation: logo-move 1s;
  // }
  &__part-1 {
    display: inline-block;
    border-left: 10px solid @color_purple;
    border-right: 10px solid @color_purple;
    height: 20px;
    border-radius: 20px;
    margin-right: 6px;
    // transition: height 0.5s;
  }

  &__part-2 {
    display: inline-block;
    border-left: 10px solid @color_pink;
    border-right: 10px solid @color_pink;
    height: 35px;
    border-radius: 20px;
  }

  &:hover &__part-1 {
    animation: logo-move 1s;
  }
  // &:not(:hover) &__part-1 {
  //   height: 20px;
  // }
  // &:hover {
  //   animation: logo-move 1s;
  // }
}
@keyframes logo-move {
  from {
    height: 20px;
  }

  to {
    height: 20px;
  }

  50% {
    height: 35px;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin: 10px 20px;
  }

  &__link {
    color: @color_dark_gray;

    &-active {
      color: @color_dark_blue;
      font-weight: 800;
    }
  }

  &__link:hover {
    color: @color_dark_blue;
  }
}

.button {
  display: inline-block;
  width: 170px;
  height: 60px;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  line-height: 60px;
  transition: background-color 0.5s;

  &_purple {
    background-color: @color_purple;
  }

  &_pink {
    background-color: @color_pink;
  }

  &:hover {
    background-color: @color_pink;
  }

  &_pink:hover {
    background-color: @color_purple;
  }
}

.button-arrow {
  width: 210px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  cursor: pointer;
  border-radius: 50px;
  color: @color_dark_blue;
  font-weight: 800;
  transition: color 0.5s;

  &__arrow {
    margin-left: 30px;
    // color: @color_purple;
    &:extend(.color-purple);
  }

  &:hover {
    color: @color_pink;
  }
}

.header {
  display: flex;
  margin-top: 60px;
  font-size: 16px;

  &__logo {
    margin-right: 101px;
  }

  &__nav {
    align-self: center;
  }

  &__button-arrow {
    align-self: center;
    margin-left: auto;
    box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
  }
}

.main-page {
  padding-top: 130px;
  padding-bottom: 100px;
  position: relative;

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 170px;
  }

  &__title {
    display: inline-block;
    width: 645px;
  }

  &__text {
    margin-top: 50px;
    font-size: 18px;
    line-height: 29px;
    width: 380px;
  }

  &__button {
    margin-top: 55px;
  }

  &__bgi {
    position: absolute;
    right: -129px;
    top: 95px;
    z-index: -1;
  }
}

.about-us {
  .clearfix();
  box-sizing: border-box;
  border: 1px solid @color_pink;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;

  &__img {
    float: left;
    margin-right: 30px;
  }

  &__text-wrapper {
    padding: 110px 115px;
    @media screen and (max-width: 768px) {
      padding: 30px;
    }
  }

  &__title {
    @media screen and (max-width: 992px) {
      clear: both;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 160%;
    line-height: 29px;
    margin-top: 20px;
  }
}

.main-page__about-us {
  margin-top: 170px;
}

.block {
  background-repeat: no-repeat;
  background-position: right;
  flex: 0 0 543px;

  &:nth-child(4n+2),
  &:nth-child(4n+3) {
    background-image: url("../img/block_blue.png");
  }

  &:nth-child(4n+1),
  &:nth-child(4n+4) {
    background-image: url("../img/block_pink.png");
  }

  &__row {
    // min-height: 260px;
    padding: 30px 30px 30px 0;
    .row-flex();
    height: 100%;
    box-sizing: border-box;
  }

  &__img {
    padding-top: 20px;
    .col();
    .size(6);
  }

  &__text-wrapper {
    .col();
    .size(6);
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    margin-bottom: 20px;
  }

  &__text {
    font-size: 18px;
    line-height: 29px;
  }

  &__link {
    margin-top: auto;
  }
}

.features {
  &__title {
    text-align: center;
    max-width: 584px;
    margin: 0 auto 20px;
    line-height: 52px;
  }

  &__title-text {
    margin: 0 auto;
    text-align: center;
    max-width: 584px;
    line-height: 29px;
  }

  &__blocks {
    .row-flex();
    flex-wrap: wrap;
    align-items: stretch;
    @media screen and (max-width: 1200px) {
      justify-content: center;
    }
  }

  &__block {
    .col();
    .size(6);
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.slider-item {
  box-shadow: 0 20px 0 rgba(156, 105, 226, 0.3);
  border-radius: 20px;
  .size(7);
  background-color: #FFFFFF;
  margin-top: 30px;
  display: flex;
  padding: 60px;
  transition: opacity 1s;
  opacity: 0;
  position: absolute;
  top: 115px;
  cursor: pointer;

  &__text-wrapper {
    margin-left: 15px;
    padding-top: 20px;
  }

  &__subtitle {
    color: @color_dark_blue;
  }

  &__contact {
    // color: @color_purple;
    &:extend(.color-purple);
    font-size: 14px;
    margin-top: 10px;
  }

  &__text {
    margin-top: 20px;
    color: @color_dark_gray;
    font-size: 18px;
    line-height: 32px;
  }

  &_active {
    opacity: 1;
    z-index: 2;
  }
}

.control {
  &__item {
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border: 5px solid @color_pink;
    border-radius: 50%;
    cursor: pointer;
  }

  &__item_active {
    background-color: @color_pink;
  }
}

.slider-blocks {
  height: 370px;
  padding: 70px 50px;
  background-color: @color_purple;
  border-radius: 50px;
  position: relative;
  display: flex;
  flex-direction: column;

  &__title {
    color: #FFFFFF;
  }

  &__control {
    margin-top: auto;
    display: flex;
  }
}

.advertising {
  &__wrapper {
    display: flex;
    align-items: center;
  }
  padding-top: 160px;

  &__text-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__text {
    margin-top: 20px;
    color: @color_dark_gray;
  }

  &__buttons {
    margin-left: auto;
  }

  &__button {
    display: inline-block;
    margin-right: 20px;
  }

  &__button-arrow {
    display: inline-block;
  }
}

.menu {
  position: absolute;
  font-size: 16px;
  // display: none;
  height: 0;
  overflow: hidden;
  transition: height 0.5s linear;

  &__item {
    margin-bottom: 20px;
  }

  &__link {
    color: @color_dark_blue;
  }

  &__link:hover {
    color: @color_pink;
  }
}

.footer {
  padding-top: 100px;

  &__wrapper {
    .row-flex();
    justify-content: space-between;
  }

  .contacts {
    &__item {
      margin-bottom: 20px;
    }
  }

  &__contacts {
    color: @color_dark_blue;
    .col();
    .size(4);
    display: flex;
    flex-direction: column;
    line-height: 24px;
  }

  &__copyright {
    margin-top: 100px;
  }

  &__menu {
    margin-top: 40px;
  }

  &__about {
    .col();
    .size(2);
    // color: @color_purple;
    &:extend(.color-purple);
    position: relative;

    &:hover .menu {
      // display: block;
      height: 100%;
    }
  }

  &__help {
    .col();
    .size(2);
    // color: @color_purple;
    &:extend(.color-purple);
    position: relative;

    &:hover .menu {
      height: 100%;
    }
  }

  &__social-links {
    .col();
    .size(2);
    font-size: 25px;

    i {
      display: inline-block;
      margin-right: 20px;
      cursor: pointer;
      @media screen and (max-width: 1200px) {
        display: block;
        margin-bottom: 20px;
      }
    }

    i:hover {
      color: @color_pink;
    }
  }
}
