// "out": "style.css", "compress": true
@gutter: 10px;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #3F3F3F;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #646464;
}

.text-marker {
  color: #DEBB7C;
}

.text-marker-br::before {
  content: "\A";
  white-space: pre;
}

.button {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 3;
  background: #DEBB7C;
  box-shadow: 0 5px 50px rgba(222, 187, 124, 0.2);
  border-radius: 10px;
  width: 248px;
  height: 54px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col(@i) when (@i=0) {
  width: auto;
  margin-left: 0;
  margin-right: 0;
}

.col(@i) when (default()) {
  width: calc(~"(@{i}/12 *100%) - @{gutter}*2");
  margin-left: @gutter;
  margin-right: @gutter;
  box-sizing: border-box;
}

.page-w-m {
  width: 1140px;
  margin: 45px auto 0;
}

.bgi {
  width: 100%;
  height: 100vh;
  background-image: url("img/main-page.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: -1;
}

.wrapper {
  .flex-container;
  max-width: 1140px;
  margin: 0 auto;
}

#burger-check {
  position: absolute;
  display: none;
}

.btn-burger {
  width: 50px;
  height: 30px;
  right: @gutter;
  position: absolute;
  visibility: hidden;
  top: 30px;
  cursor: pointer;

  div {
    border-top: 3px solid #DEBB7C;
    border-bottom: 3px solid #DEBB7C;
    border-radius: 10px;
    margin-bottom: 6px;
    background-color: #DEBB7C;
  }
}

.page-1 {
  .flex-container;
  height: 100vh;
  position: relative;
  align-items: flex-start;

  .header {
    margin-top: 10px;
    .flex-container;
    width: 100%;

    .logo {
      .col(2);
      justify-content: flex-start;
      flex-basis: 108px;
    }

    .menu {
      .flex-container;
      .col(10);
      flex: 1; //Из-за этого не переносится на другую строку
      justify-content: space-around;
      align-items: center;

      .menu-item {
        margin-left: 15px;
      }

      .menu-link {
        color: #EAEAEA;
        font-weight: bold;
      }
    }
  }

  .content {
    .flex-container;
    .col(12);
    flex-direction: column;
    justify-content: center;

    h2 {
      color: #FFFFFF;
    }

    .button {
      margin: 0 auto;

      span {
        .text-marker;
      }
    }
  }
}

.page-2 {
  .page-w-m;
  .flex-container;

  .img {
    .col(6);
    position: relative;
    background-image: url("img/imagePeople.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
    min-width: 220px;
    // min-height: 290px;
    .img-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #DEBB7C;
      box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
      z-index: -1;
      top: 5px;
      left: 5px;
    }
  }

  .text {
    .flex-container;
    .col(6);
    flex-direction: column;

    h2 {
      text-align: left;
    }

    span {
      .text-marker;
    }
  }
}

.page-3 {
  .page-w-m;
  .col(12);
  background-image: url("img/bg2.png");
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-top: 25px;
  padding-left: 30px;

  h2 {
    color: #FFFFFF;
    text-align: left;
  }

  .blocks {
    .flex-container;
    justify-content: space-around;

    .block {
      font-weight: 900;
      font-size: 96px;
      color: #DEBB7C;
      margin-bottom: 20px;

      p {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: normal;
      }
    }
  }
}

.page-4 {
  .page-w-m;
  flex-direction: column;
  align-items: center;

  h2 {
    .col(12);
  }

  .blocks {
    .flex-container;
    justify-content: center;

    .block {
      .flex-container;
      .col(4);
      margin-bottom: 10px;
      position: relative;
      padding-left: 30px;
      min-width: 230px;

      p {
        margin-top: 10px;
      }

      .square {
        width: 10px;
        height: 10px;
        border-radius: 3px;
        border: 5px solid #DEBB7C;
        position: absolute;
        top: 5px;
        left: 0;
      }
    }
  }
}

.page-5 {
  .page-w-m;

  .header {
    .flex-container;

    h2 {
      .col(5);
      text-align: left;
      min-width: 270px;
    }

    .arrows {
      .col(7);

      .circle {
        transform: matrix(-1, 0, 0, 1, 0, 0);
        width: 45px;
        height: 45px;
        display: inline-block;
        border: 1px solid #646464;
        box-sizing: border-box;
        border-radius: 50%;
        position: relative;

        div {
          width: 10px;
          height: 10px;
          border-left: 2px solid #646464;
          border-bottom: 2px solid #646464;
          position: absolute;
          left: 15.25px;
          top: 15.25px;
        }
      }

      .circle:first-child {
        margin-right: 20px;
      }

      .left-arrow {
        transform: rotate(-135deg);
      }

      .right-arrow {
        transform: rotate(45deg);
      }
    }
  }

  .slider {
    position: relative;
    height: 430px;
    overflow: hidden;

    .slide {
      .flex-container;
      .col(5);
      flex-direction: column;
      box-shadow: 0 4px 50px rgba(0, 0, 0, 0.08);
      border-radius: 10px;
      position: absolute;
      min-height: 425px;
      min-width: 450px;
      overflow: hidden;

      .slide-top {
        color: #FFFFFF;
        .flex-container;
        flex-direction: column;
        height: 225px;
        border-bottom: 7px solid #DEBB7C;
        justify-content: flex-end;
        padding-left: 20px;
        padding-bottom: 20px;
        background-image: url("img/slide2.png");
        box-shadow: inset 0 0 300px rgb(0, 0, 0);

        h3 {
          color: #FFFFFF;
        }

        p {
          margin-top: 10px;
        }

        img {
          position: relative;
          top: 4px;
          margin-right: 6px;
        }
      }

      .slide-bottom {
        margin: 15px;
      }
    }
  }
}

.page-6 {
  .page-w-m;
  flex-direction: column;

  h2 {
    .col(12);
  }

  .block {
    .flex-container;

    a {
      .col(3);
      min-width: 200px;

      img {
        width: 100%;
      }
    }
  }
}

.page-7 {
  .page-w-m;

  h2 {
    .col(12);
  }

  .menu {
    .flex-container;
    .col(12);
    justify-content: space-between;

    .menu-item {
      border-radius: 30px;
      border: 1px solid #DACCB5;
      box-sizing: border-box;
      margin-bottom: 10px;
      margin-left: 15px;
      line-height: 3;
      padding: 0 15px;
    }

    .menu-link {
      color: #646464;
    }

    .active-item {
      background-color: #DEBB7C;
      box-shadow: 0 4px 20px rgba(222, 187, 124, 0.5);
    }
  }
}

.page-8 {
  .page-w-m;

  h2 {
    .col(12);
  }

  .blocks {
    .flex-container;
    justify-content: space-between;

    .block {
      .flex-container;
      flex-direction: column;
      justify-content: center;
      padding-left: 20px;
      .col(3);
      min-height: 125px;
      box-shadow: 0 5px 50px rgba(0, 0, 0, 0.08);
      border-radius: 10px 10px 0 0;
      border-top: 30px solid #F8F1E6;
      position: relative;
      margin-bottom: 10px;
      min-width: 170px;

      p {
        margin-top: 10px;
      }

      .mount {
        position: absolute;
        border-right: 6px solid #DACCB5;
        border-left: 6px solid #DACCB5;
        border-radius: 30px;
        height: 30px;
      }

      .right-mount {
        left: 75%;
        top: -15px;
      }

      .left-mount {
        top: -15px;
        left: 20%;
      }
    }
  }
}

.page-9 {
  .page-w-m;

  h2 {
    .col(12);
  }

  .slider {
    .flex-container;

    .slide {
      .flex-container;
      .col(4);
      text-align: center;
      flex-direction: column;
      box-shadow: 0 4px 50px rgba(0, 0, 0, 0.08);
      min-height: 250px;
      min-width: 250px;
      justify-content: center;

      p {
        margin-top: 10px;
      }

      .number {
        margin-top: 30px;
        font-weight: bold;
      }
    }
  }

  .arrows {
    .flex-container;
    justify-content: center;
    margin-top: 30px;

    input {
      display: none;
    }

    label {
      transform: matrix(-1, 0, 0, 1, 0, 0);
      width: 20px;
      height: 20px;
      border: 6px solid #DEBB7C;
      box-sizing: border-box;
      border-radius: 50%;
      margin: 0 10px;
    }

    input:checked + label {
      background-color: #DEBB7C;
    }
  }
}
@media (max-width: 768px) {
  .page-1 {
    .btn-burger {
      visibility: visible;
      z-index: 4;
    }

    .header {
      .col(12);

      .logo {
        .col(0);
      }

      .menu {
        visibility: hidden;
        .col(0);
        background-color: #3F3F3F;
      }
    }

    #burger-check:checked ~ .btn-burger > div:nth-child(2) {
      opacity: 0;
    }

    #burger-check:checked ~ .btn-burger > div:nth-child(1) {
      transform: rotate(-45deg) translate(-4px, 5px);
    }

    #burger-check:checked ~ .btn-burger > div:nth-child(3) {
      transform: rotate(45deg) translate(-12px, -13px);
    }

    #burger-check:checked ~ .header > .menu {
      visibility: visible;
      padding-top: 30px;
      padding-bottom: 10px;
      padding-right: 58px;
      justify-content: default;
    }

    #burger-check:checked ~ .header > .menu > .menu-item {
      .col(4);
      margin-bottom: 20px;
    }

    #burger-check:checked ~ .header > .logo {
      display: none;
    }

    #burger-check:checked ~ .header {
      .col(0);
      margin-top: 0;
    }
  }

  .page-8 {
    .blocks {
      .block {
        .col(6);
      }
    }
  }

  .page-9 {
    .slider {
      .slide {
        .col(6);
      }
      // .col(0);
    }
  }
}
@media (max-width: 375px) {
  .page-1 {
    .btn-burger {
      visibility: visible;
      z-index: 4;
    }

    .header {
      .col(0);
      width: 100%;
      .menu {
        .col(0);
        flex-direction: column;
        // justify-content: flex-start;
        align-content: flex-start;

        .menu-item {
          .col(12);
        }
      }
    }

    #burger-check:checked ~ .header {
      .col(0);
      margin-top: 0;
      width: 1
    }

    #burger-check:checked ~ .header > .menu {
      visibility: visible;
      padding-top: 30px;
      padding-bottom: 10px;
      padding-right: 20px;
      justify-content: default;
    }

    #burger-check:checked ~ .header > .menu > .menu-item {
      flex-direction: column;
      .col(12);
      margin-bottom: 20px;
    }
  }

  .page-2 {
    .img {
      .col(12);
    }

    .text {
      .col(12);
    }
  }

  .page-3 {
    .blocks {
      .col(12);
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .page-4 {
    .blocks {
      .col(12);
      flex-direction: column;
      align-items: center;
    }
  }

  .page-6 {
    .block {
      flex-direction: column;
      align-items: center;
    }
  }

  .page-7 {
    .menu {
      justify-content: flex-start;
    }
  }

  .page-8 {
    .blocks {
      align-items: center;
      flex-direction: column;
      // .block {
      //   .col(12);
      // }
    }
  }

  .page-9 {
    .slider {
      flex-direction: column;

      .slide {
        .col(12);
      }

      .slide:nth-child(2n+1) {
        display: none;
      }
    }
  }
}
