
.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
}

.col {
  box-sizing: border-box;
  height: 100px;
  background-color: black;
  border: 5px solid white;
  margin: 0 10px;
  flex: 0.5;
}

@media (max-width: 700px) {
  .col {
    margin: 0 5px;
    width: calc(50% - 2*5px);
  }
}
